body{
    background-color: rgb(190, 84, 84);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 1%;
}

.container{
    background-color: rgb(169, 154, 154);
    padding: 3%;
}

.container h3{
    background-color:  rgb(169, 154, 154);
    color: lightgoldenrodyellow;
    font-weight: 900;
    font-style: italic;
    text-decoration: underline;
    text-transform:uppercase ;
    letter-spacing: 0.2em;
    word-spacing: 0.2em;


}
h1{
    background-color:  rgb(169, 154, 154);
    color:  lightgoldenrodyellow;
}

/* div{
    font-size: 10px;
} */
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(82, 123, 123);
    font-size: 1.2rem;
    color:  lightgoldenrodyellow;
    line-height: 1.6em;
}
#second-p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: lightgoldenrodyellow;
}
#Phone-model{
    background-color: rgb(82, 123, 123);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(149, 51, 51);
    width: 300px;
    border: 25px solid darkblue;
    margin: 20px;
    padding: 15px 20px 25px 30px;
}
.categories{
    color: lightgoldenrodyellow;
    font-size: medium;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 15px;
}

.categories h2{
    text-align: center;
    color: brown;
    font-size: larger;
    font-style: normal;
}

.categories ul{
    padding: 0%;
    list-style: none;


}
.categories a{
    text-decoration: none;
}
.categories a:hover{
    color: bisque;
}

.categories li{

    padding: 6px 0;
    border-bottom: 1px dotted;
}

.my-form{
    padding: 1px;

}

.my-form .form-group{
    padding-bottom: 2px;
}
.my-form label{
    display: block;
}

.my-form #name, .my-form #email, .my-form #message{
    width: 70%;
    padding: 8px;
}

.button{
    padding: 1px 5px;
    border:none;
    background-color: azure;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 1rem;
}
.button:hover{
    background-color: goldenrod;
    cursor: pointer;
}
.block{
    float: left;
    width: 33.33%;
}
.block h2{
    color: black;
    font-size: larger;
    font-style: normal;
}


